<div class="fixed inset-0 flex items-center justify-center z-50 backdrop-blur-sm confirm-dialog ">
    <div class="relative px-4 min-h-screen md:flex md:items-center md:justify-center">
        <div class=" opacity-25 w-full h-full absolute z-10 inset-0"></div>
        <div
            class="bg-background rounded-lg md:max-w-md md:mx-auto p-4 fixed inset-x-0 bottom-0 z-50 mb-4 mx-4 md:relative shadow-lg">
            <div class="grid grid-cols-[auto,1fr]">
                <!-- <div
                    class="rounded-full border border-gray-300 flex items-center justify-center w-16 h-16 flex-shrink-0 mx-auto">
                    <i class="bx bx-error text-3xl text-red-500">
                        &#9888;
                    </i>
                </div> -->
                <svg class="size-14" viewBox="0 0 24.00 24.00" fill="none"
                    xmlns="http://www.w3.org/2000/svg">

                    <g id="SVGRepo_bgCarrier" stroke-width="0" />

                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                        stroke-width="0.096" />

                    <g id="SVGRepo_iconCarrier">
                        <path d="M12 10V13" stroke="#ef4444" stroke-width="0.504" stroke-linecap="round" />
                        <path d="M12 16V15.9888" stroke="#ef4444" stroke-width="0.504" stroke-linecap="round" />
                        <path
                            d="M10.2518 5.147L3.6508 17.0287C2.91021 18.3618 3.87415 20 5.39912 20H18.6011C20.126 20 21.09 18.3618 20.3494 17.0287L13.7484 5.147C12.9864 3.77538 11.0138 3.77538 10.2518 5.147Z"
                            stroke="#ef4444" stroke-width="0.504" stroke-linecap="round" stroke-linejoin="round" />
                    </g>

                </svg>
                <div class="mt-4 md:mt-0 md:ml-6 text-center md:text-left">
                    <p class="font-bold dark:text-white text-orange-700">Warning!</p>
                    <p class="text-sm text-gray-700 mt-1 dark:text-gray-300">{{dialogData.message}}
                    </p>
                </div>
            </div>
            <div class="text-center md:text-right mt-4 md:flex md:justify-end">
                <button id="confirm-delete-btn"
                    class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-red-200 text-red-700 rounded-lg font-semibold text-sm md:ml-2 md:order-2"
                    (click)="handleBtnClick(true)">
                    Yes
                </button>
                <button id="confirm-cancel-btn"
                    class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-gray-200 rounded-lg font-semibold text-sm mt-4 md:mt-0 md:order-1"
                    (click)="handleBtnClick(false)">
                    No
                </button>
            </div>
        </div>
    </div>
</div>